@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kumbh Sans", sans-serif;
}

body {
    background-color: hsl(185, 75%, 39%);
    overflow: hidden;    
    text-align: center;
}

.bg-top, 
.bg-bottom {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -100;
}

.bg-top {
    bottom: 50%;
    right: 45%;
    background: url('./images/bg-pattern-top.svg');
    background-position: bottom right;
    background-repeat: no-repeat;
}

.bg-bottom {
    top: 50%;
    left: 45%;
    background: url('./images/bg-pattern-bottom.svg');
}

.card-element {
    margin: 9em auto;
    width: 300px;
    height: 330px;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    background-color: azure;
}

.card-top {
    height: 35%;
    background-image: url('./images/bg-pattern-card.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.profile-pic {
    margin: auto;
    margin-top: 4.5rem;
    display: block;
    width: 88px;
    border-radius: 50%;
    border: 3px solid white;
}

.bold-text {
  color: hsl(229, 23%, 23%);
  margin: 4px;
  font-weight: 700;
}

.age,
.location,
.stat-name {
  color: hsl(0, 0%, 59%);
}

.location {
    margin-top: 8px;
    font-size: 14px;
}

.stat-name {
    font-size: 10px;
}

.card-center {
    height: 30%;
    margin-top: 4.3rem;
    text-align: center;
}

.card-bottom {
    height: 35%;
    border-top: 1px solid hsl(0, 0%, 80%);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.attribution { 
    font-size: 12px;
 }

.attribution a { 
    color: hsl(228, 60%, 40%);
 }
